:root { 
--green_300:#64e287; 
--gray_500:#929292; 
--blue_gray_100:#d9d9d9; 
--lime_600:#d3b723; 
--blue_gray_600:#4c876a; 
--light_green_100:#dcf1d1; 
--red_200:#f8a2a2; 
--green_800:#256d3f; 
--gray_200:#e8e8e8; 
--deep_purple_300:#8b61e6; 
--gray_50:#fffafa; 
--green_400:#7db261; 
--black_900:#000000; 
--light_green_800:#448e1f; 
--green_300_01:#82b086; 
--blue_gray_700:#515151; 
--cyan_900:#014762; 
--white_A700:#ffffff; 
--light_green_800_01:#408924; 
--red_A700:#ff0202; 
}